<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h1>Administration</h1>
        <h3><%= link_to 'Manage Shows', admin_shows_path %></h3>
        <h3><%= link_to 'Manage Videos', admin_videos_path %></h3>   
  </div>
</div>