<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Administration</h1>
      <ul>
        <li><%= link_to 'Manage Shows', admin_shows_path %></li>
        <li><%= link_to 'Manage Videos', admin_videos_path %></li>
      </ul>
  </div>
</div>