<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% @videos.each do |video| %>

    <article class="video text-center">
      <figure>
        <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/<%= video.url %>">
        <img class="video-thumb" src="http://i1.ytimg.com/vi/<%= video.url %>/mqdefault.jpg"></a>
      </figure>
      <h2 class="video-title"><%= video.title %></h2>
    </article>

    <% end %>
  </div>
</div>

