<div class="row">
  <div class="col-md-6 text-center">
    <%= image_tag("covertransparent.gif", id: "cover") %> 
  </div>

  <div class="col-md-4 text-center">
    <br>
    
    <div class="album-links">
    <h1 id="album-title">Henry Church</h1>

        <a href="https://itunes.apple.com/us/album/henry-church/id1273944336">itunes</a>
        <a href="http://spoti.fi/2xvyI9P">spotify</a>
        <a href="https://soundcloud.com/joseph-chilliams/sets/henry-church-1/s-jA0FT">soundcloud</a>
    </div>
  </div>
</div>
