<div class="col-md-6 text-center">
  <%= image_tag("covertransparent", id: "cover") %> 
</div>

<div class="col-md-4 text-center">
<br>
  
  <div class="album-links">
  <h1>Henry Church</h1>
      <a href="">itunes</a>
      <a href="">spotify</a>
      <a href="">bandcamp</a>
  </div>
</div>