<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <img src="http://shandyfiles.s3-us-west-1.amazonaws.com/images/body/hollyscoop/pikachu-surf-board.gif" alt="surfing pikachu">
    <h3>um hey you shouldn't be here... please <a href="/">leave</a>...</h3>
  </div>
</div>