.table {
  font-size: 16px;
}

.table > thead > tr > th {
background-color: pink;
margin: 4px;
}

.table > thead > tr > th:first-child {
border-left: none;
}

.table > thead > tr > th:last-child {
border-right: none;
}

table td {
background-color: pink;
margin: 4px

}

table td:first-child {
border-left: none;
}

table td:last-child {
border-right: none;
}

.table > tbody > tr:last-child {
border-bottom: none;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(255, 204, 248, 0.25);
 }